.ad{

    position: relative;

    &__info{

        position: absolute;
        width: 30%;
        margin-top: 6%;
        margin-left: 60%;
        font-family: Raleway;
        color: #003548;

        font-weight: 600;
        font-size: 26px;


    }
}