.button{

    font-family: 'Poppins';
    width: 179px;
    height: 42px;
    background-color: #CFA24F;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-top: 28px;
    border-radius: 16px;
    border: none;

    &__ad{
        margin-left: 60%;

    }

    &--padding{

        margin-top: 0;

    }

    &__product{

        margin-left: 15%;
    }

    @media (max-width: 700px) {
        &__ad{
        margin-left: 45%;
        margin-top: 20px;
        }
    }

    

    


}

.button:hover{
    background-color: #cfa24fb5;
    border: solid white 1px;
    color:white;
}