.c-checkbox{
    display: flex;

    &__fake{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: inline-flex;
        
        &--blue{
            background-color: blue;
            &:before{
                border: 1px solid rgb(80, 196, 27);
            }
        }
        &--yellow{
            background-color: yellow;
        }
        &--green{
            background-color: yellowgreen;
        }
        &--fuchsia{
            background-color: fuchsia;
        }
        &--red{
            background-color: red;
        }
        &--orange{
            background-color: orange;
        }

        
    }

    &--invisible{

        opacity: 0;
        width: 0;

    }

    
}