.c-checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    &__done{
        border: 1px solid #04171E;


    }

    &__done:before{
        color: white;
        content: "\2713";
        margin-top: 6px;
        margin-left: 10px;
    }

    &__fake{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: inline-flex;
        cursor: pointer;


        
        
        &--blue{
            background-color: blue;
            
        }
        &--yellow{
            background-color: yellow;
        }
        &--green{
            background-color: yellowgreen;
        }
        &--fuchsia{
            background-color: fuchsia;
        }
        &--red{
            background-color: red;
        }
        &--orange{
            background-color: orange;
        }

        
    }

    &--invisible{

        opacity: 0;
        width: 0;

    }

    
}