.checkout {
    display: flex;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    justify-content: center;

    &__summary {
        background-color: #182a30;
        height: 377px;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 45px 50px 30px 45px;
        margin-left: 2%;
        box-sizing: border-box;
    }

    &__form {
        width: 40%;
        margin-left: 50px;

    }

    &__boton {
        margin-left: auto;
        margin-right: auto;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

        &--final {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid white;
            margin-top: 30px;

            padding-top: 30px;
        }

        &--text {
            padding-top: 10px;
        }
    }
    &__title {
        padding-top: 50px;
    }

    @media (max-width: 989px) {
        padding-left: 0;
        &__summary {
            margin-left: 0;
        }
        &__title {
            padding-top: 20px;
        }
        &__form{
            width: 100%;
            

        }
    }
}

.cartList {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    &__list {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(182, 181, 181);

    }

    &__img {
        width: 15%;
        height: 15%;
    }

    @media (max-width: 989px) {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;

        &__img {
            width: 30%;
            height: 30%;
        }
    }
}

.form {
    &__label {
        display: block;
        margin-top: 30px;
    }

    &__input {
        display: block;
        margin-top: 7px;
        width: 60%;
        height: 47px;
        border: 1px solid #003548;
        padding-left: 10px;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
