.feature{

  background-color:#04171E;
  color: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box; 


  
  &__info{
      width: 27%;
      margin-left: 30px;
      display: flex;
      align-items: center;

      @media (max-width: 700px) {

          width: 50%;
          
      }
  }

  &__text{
      font-family: Raleway;
      font-size: 18px;
      padding-left: 25px;
      box-sizing: border-box; 

      @media (max-width: 700px) {

        width: 100%;
        
    }

      
  }

  @media (max-width: 700px) {

      flex-direction: column;
      
  }
}