.feature{

    display: flex;
    background-color: #04171E;
    color: white;
    width: 100%;
    height: 193px;
    padding-left: 120px;
    padding-right: 80px;
    justify-content: space-evenly;
    margin: 0;
    box-sizing: border-box; 

    &__info{

        display: flex;
        align-items: center;
        padding-top: 52px;
        padding-bottom: 60px;
        width: 100%;
        margin: 0;

      
    }

    &__text{

      width: 60%;
      margin: 0;
      font-family: Raleway;
      font-size: 18px;
      line-height: 129%;
      margin-left:20px ;


    }
}