.footer{
    background-color: #04171E;
    display: flex;    
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;

    &__img{
        padding-top: 60px;
        padding-bottom: 40px;

        width: 158px;
    }

    &__menu{

        display: flex;
        width: 50%;
        border-top: solid 1px;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__element{
        padding-bottom: 20px;
    }
    &__element:hover{
        color: #CFA24F;
    }

    &__redesSociales{
        display: flex;
        width: 20%;
        justify-content: space-evenly;

    }

    &__text{
        display: flex;
        padding-top: 30px;
        padding-bottom: 60px;
        width: 30%;
        color: gray;
        justify-content: space-between;


    }

    @media (max-width: 800px) {

        &__menu{

            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        &__text{
            width: 80%;
        }

        
    }
    

    
}