.footer{
    background-color: #04171E;
    display: flex;
    width: 100%;



    &__list{
        color: white;
        display: flex;
        width: 100%;

        @media (max-width: 600px) {

            display: inline-block;
                    
        }
    }

    @media (max-width: 600px) {

        display: inline-block;
                
    }
}