.gallery {
  background: #003548;
  padding-top: 10px;    


  &-cell {
    width: 30%;
    height: 350px;
    margin-right: 10px;
    counter-increment: gallery-cell;
  }

  &-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: transparent;
  }

  &-pictureone{
    background-image: url(../imag/gallery1.png);
  }

  &-picturetwo{
    background-image: url(../imag/gallery2.jpg);
  }

  &-picturethree{
    background-image: url(../imag/gallery3.png);
  }

  &-picturefour{
    background-image: url(../imag/gallery4.png);
  }

  &-picturefive{
    background-image: url(../imag/gallery5.png);
  }
}



