.listProducts{

    display: block;
    width: 852px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #182A30;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    padding-left: 5px;
    font-family: Poppins;

    &__nav{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__product{
        display: flex;
        justify-content: space-around;

    }
    &__list{

        &--product{
            margin-top: 40px;
            padding-top: 20px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgb(182, 181, 181);


        }
        
    }
    &__img{
        width: 105px;
        height: 105px;

    }

    &__delete{
        width: 17px;
        height: 17px;
        margin-left: 15px;
        
    }
    &__edit{
        &--img{
            width: 18px;
        height: 18px;
        }
    }
    &__date{
        font-size: 12px;

    }
    

}