.menu {
  background-color: #04171E;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;   
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;  
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    z-index:10;


    width: 100%;

    &__element:hover{

        color: #CFA24F;
        justify-content: space-evenly; 
    }

    &__responsive{
        display: none;
    }


    &--icono{
        margin-right: 20px;
    }

    @media (max-width: 766px) {

        flex-direction: column;
        align-items: flex-start;
        

        &__responsive{
            display: flex;
            justify-content: space-between;
            width: 100%;

        }
        &__desaparecer{

            display: none;

        }

        &__logo{
            display: none;
            &--size{
                padding-left: 27px;
            }
        }
        
        &__element{
            padding: 20px;
        }

        &__icono{
            display: none;
        
        }

        &--icono{
            margin-right: 15px;
            box-sizing: border-box;
        }

        &__button{
            padding-left: 20px;
        }

        


        
        
    }






 




}


  
