.menu {
  background-color: #04171E;
  color: white;
  position: fixed;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 5;
  padding-top: 10px;
  
  &__list{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;   
    align-items: center;

    @media (max-width: 600px) {
  
      flex-direction: column;
      align-items: flex-start;      
    }

  }

  &__element{
    display: inline-block;

  }

  &__element:hover{

    color: #CFA24F;
    font-weight: 600;
    justify-content: space-evenly;   

  
  }

  &--icono{
    margin-right: 20px;
  }

  &--icono:hover{
    background-color: #CFA24F;
    border-radius: 30px;
    padding: 6px;
    box-sizing: border-box;
    
  }

  &__button{
    display: none;

  }






 




}


  
