.newsletter{

    background-color: #E6E7E9;
    display: flex;
    color: #003548;
    margin-top: 0;


    &__input{

        padding-top: 62px;
        padding-left: 100px;


        &__title{

            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 35px;
            margin: 0;

        }

        &__p{

            font-family: 'Raleway', sans-serif;
            margin-top: 23px;
            margin-bottom: 23px;
            font-weight: 500;
            font-size: 16px;
            line-height: 91.5%;
            letter-spacing: 0.02em;

        }

        

    }

    @media (max-width: 600px) {

        display: inline-block;
                
    }
}