.newsletter{

    background-color: #eaecef;
    display: flex;
    color: #003548;
    margin-top: 0;
    width: 100%;
    flex-wrap: wrap;

    &__input{
        width: 35%;
        padding-top: 63px;
        padding-left: 100px;
        box-sizing: border-box;

    }

    &__p{
        padding-bottom: 20px;
    }

    &__img{

        background-image: url(../imag/newsletter.jpg);
        background-size: cover;
        box-sizing: border-box;
    

        width: 685px;
        height: 28em;
        font-size: 16px;
    }

    @media (max-width: 1053px) {

        justify-content: center;
        text-align:center;
        padding-bottom: 90px;
        &__input{

            width: 100%;
            padding-left: 0;

        }

        &__img{
            background-image: url(../imag/newaletter-1053w.jpg);
            width: 100%;

        }
        
    }

    

    @media (max-width: 700px) {

        &__img{
            background-image: url(../imag/newsletter-753w.jpg);



        }
       
    }

    @media (max-width: 500px) {

        &__img{

            background-image: url(../imag/newsletter-500w.jpg);
            width: 100%;


        }
       
    }

    @media (max-width: 450px) {

        &__img{

            background-image: url(../imag/newsletter-414w.jpg);
            width: 100%;


        }
       
    }



    


    

    
}