.products{

    height: 100%;
    padding-top: 120px;
    box-sizing: border-box;
    padding-bottom: 111px;
    color: #003548;
    &__ramo{
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        flex-wrap: wrap;
        height: 100%;
    }

    &__contents{
        padding-top: 50px;
    }

    &__price{
        display: flex;
        width: 97%;
        justify-content: space-between;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        font-size: 15px;
        padding-top: 17px;
    }

    &__info{
        display:inline-block;
        position:relative;
        width: 313px;

        &--img:hover{
            opacity: 0.10;
            transition: opacity 500ms;
        }
    }

    &__feature{
        font-family: 'raleway', serif;
        width: 275px;
        position:absolute;
        z-index: -1;
        top:0;
        left:0;
        padding:10px;
        margin:0;
        border-style:solid;
        border-color:#003548 ;
        border-width: 1px;

        &--title{
            text-align: center;
            padding-bottom: 140px;
        }

        &--subt{

            padding-bottom: 9px;
            padding-left: 20px;

        }

        &--p{
            padding-left: 20px;
            padding-bottom: 10px;


        }
    


    }

    @media (max-width: 700px) {
        
    }
    

    


    
}