.products{

    height: 100%;
    background-color: white;
    padding-top: 120px;
    box-sizing: border-box;
    padding-bottom: 111px;


    &__info{
        display: flex;
        justify-content: space-evenly;
        margin-top: 68px;
        box-sizing: border-box;
        height: 100%;

        @media (max-width: 600px) {

            display: inline-block;
                
        }

        &__ramo{

            display: flex;
            justify-content: space-between;
            color: #003548;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 15px;
            margin-top: 0;

            


        }

        
    }


    
}