.title{

    text-align: center;
    color: #003548;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;

    &--white{
        color:white;
    }

    &--nocenter{
        text-align: start;
    }

    &--padding{
        padding-top: 80px;
    }

    &--subtitle{

        font-size: 18px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left:40px ;
        text-align: center;
    }

    &--form{
        margin-bottom: 20px;
    }
    &--admi{
    font-size: 24px;
    margin-left: 20px;


    }


    @media (max-width: 1053px) {
        text-align: center;
    }

    

}