.title{

    text-align: center;
    color: #003548;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;

    &--white{
        color:white;
    }

    &--nocenter{
        text-align: start;
    }

    &--padding{
        padding-top: 80px;
    }

    @media (max-width: 1053px) {
        text-align: center;
    }

}