@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
.hidden {
  display: none !important;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: #182A30;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 148px;
  font-family: Poppins;
}

.body__nav--a {
  margin-top: 20px;
}

.productForm {
  display: block;
  width: 852px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #182A30;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding-left: 49px;
  font-family: Poppins;
}

.productForm__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7px;
}

.productForm__label {
  display: block;
  margin-top: 30px;
}

.productForm__label--checkbox {
  margin-top: 8px;
}

.productForm__input {
  display: block;
  margin-top: 7px;
  width: 60%;
  height: 47px;
  border: 1px solid #003548;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productForm__input--price {
  background-image: url("../imag/CurrencyDollar.png");
  background-repeat: no-repeat;
  background-position: 10px 13px;
  padding-left: 35px;
}

.productForm__input--duration {
  width: 8%;
}

.productForm__input--file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.productForm__input--file-input label {
  display: block;
  border-radius: 4px;
  background-image: url("../imag/add.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 27px 13px;
  margin-right: 10px;
  width: 105px;
  height: 105px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  border: 1px solid #003548;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #003548;
  font-weight: bold;
  cursor: pointer;
}

.productForm__button {
  display: block;
  margin-top: 40px;
}

.productForm__img {
  width: 105px;
  height: 105px;
  margin: 0px 10px 0 0;
  border-radius: 4px;
  border: 1px solid #b6b5b5;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productForm__addAd {
  background-color: #cfa24f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__load {
  background-color: #04171e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__wrong {
  background-color: #ab2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__state {
  width: 58px;
  margin-right: 10px;
  margin-left: 50px;
}

.productForm__checkbox {
  margin-right: 10px;
}

.nav {
  background: rgba(4, 23, 30, 0.92);
  width: 100%;
  height: 104px;
}

.nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.c-checkbox__fake {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.c-checkbox__fake--blue {
  background-color: blue;
}

.c-checkbox__fake--blue:before {
  border: 1px solid #50c41b;
}

.c-checkbox__fake--yellow {
  background-color: yellow;
}

.c-checkbox__fake--green {
  background-color: yellowgreen;
}

.c-checkbox__fake--fuchsia {
  background-color: fuchsia;
}

.c-checkbox__fake--red {
  background-color: red;
}

.c-checkbox__fake--orange {
  background-color: orange;
}

.c-checkbox--invisible {
  opacity: 0;
  width: 0;
}

.button {
  font-family: 'Poppins';
  width: 179px;
  height: 42px;
  background-color: #CFA24F;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: 28px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__ad {
  margin-left: 60%;
}

.button--padding {
  margin-top: 0;
}

.button__product {
  margin-left: 15%;
}

@media (max-width: 700px) {
  .button__ad {
    margin-left: 45%;
    margin-top: 20px;
  }
}

.button:hover {
  background-color: #cfa24fb5;
  border: solid white 1px;
  color: white;
}

.listProducts {
  display: block;
  width: 852px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #182A30;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding-left: 5px;
  font-family: Poppins;
}

.listProducts__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.listProducts__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listProducts__list--product {
  margin-top: 40px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #182A30;
}

.listProducts__img {
  width: 105px;
  height: 105px;
}
/*# sourceMappingURL=admi.css.map */