@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
.hidden {
  display: none !important;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: #182A30;
}
.body {
  display: flex;
  margin-top: 40px;
  margin-right: 20px;
  justify-content: center;
  &__nav {
    display: flex;
    flex-direction: column;
    margin-right: 148px;
    font-family: Poppins;

    &--a {
      margin-top: 20px;
    }

    &--a:hover {
      font-weight: bold;

    }

    &--select{
      color: #CFA24F;
      font-weight: bold;

    }
    
  }
  
}

@import "./productForm";
@import "./c-checkbox.scss";
@import "./button";
@import "./listProducts";
