@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

body {
  background-color: white;
}

p {
  padding-top: 10px;
}

.menu {
  background-color: #04171e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 10;
  width: 100%;
}

.menu__element:hover {
  color: #cfa24f;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.menu__responsive {
  display: none;
}

.menu__icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu--icono {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__desaparecer {
    display: none;
  }
  .menu__logo {
    display: none;
  }
  .menu__logo--size {
    padding-left: 27px;
  }
  .menu__element {
    padding: 20px;
  }
  .menu__icono {
    display: none;
  }
  .menu__icono--responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu--icono {
    margin-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__button {
    padding-left: 20px;
  }
}

.cartBtn span {
  background-color: white;
  position: absolute;
  color: #003548;
  font-weight: 600;
  font-size: 14px;
  width: 17px;
  height: 17px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  text-align: center;
  border-radius: 8px;
}

.authButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-size: 12px;
}

.authButtons__logout:hover {
  color: #CFA24F;
}

.banner {
  width: 100%;
  height: 700px;
  color: white;
  background-image: url("../imag/fondo.jpg");
  padding-top: 211px;
  padding-left: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0;
}

.banner__subtitle {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
}

.banner__p {
  font-family: Raleway;
  font-size: 18px;
  line-height: 129%;
  padding-top: 30px;
  width: 24%;
}

@media (max-width: 700px) {
  .banner {
    padding-top: 150px;
    padding-left: 17px;
  }
  .banner__title {
    margin-left: 0;
  }
  .banner__p {
    width: 60%;
  }
}

@media (max-width: 414px) {
  .banner {
    background-image: url("../imag/fondo-414w.jpg");
  }
}

.feature {
  background-color: #04171E;
  color: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature__info {
  width: 27%;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  font-family: Raleway;
  font-size: 18px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 986px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .feature__info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .feature__text {
    width: 34%;
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .feature__text {
    width: 65%;
  }
}

.products {
  height: 100%;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 111px;
  color: #003548;
}

.products__ramo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.products__contents {
  padding-top: 50px;
}

.products__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 15px;
  padding-top: 17px;
}

.products__info {
  display: inline-block;
  position: relative;
  width: 313px;
}

.products__info--img:hover {
  opacity: 0.10;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.products__feature {
  font-family: 'raleway', serif;
  width: 275px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  border-style: solid;
  border-color: #003548;
  border-width: 1px;
}

.products__feature--title {
  text-align: center;
  padding-bottom: 140px;
}

.products__feature--subt {
  padding-bottom: 9px;
  padding-left: 20px;
}

.products__feature--p {
  padding-left: 20px;
  padding-bottom: 10px;
}

.ad {
  background-image: url("../imag/adFlowers.png");
  height: 261px;
  background-size: cover;
  background-repeat: no-repeat;
}

.ad__info {
  width: 30%;
  padding: 60px 0 0 60%;
  font-family: Raleway;
  color: #003548;
  font-weight: 600;
  font-size: 26px;
}

@media (max-width: 1171px) {
  .ad {
    background-image: url("../imag/adFlowers-1171w.jpg");
  }
}

@media (max-width: 800px) {
  .ad__info {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .ad {
    background-image: url("../imag/adFlowers-720.png");
  }
  .ad__info {
    width: 40%;
    padding-left: 45%;
  }
}

@media (max-width: 600px) {
  .ad__info {
    width: 50%;
    font-size: 18px;
    padding-left: 45%;
  }
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__bouquet {
  width: 650px;
  height: 650px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imag/astromelias.jpg");
}

@media (max-width: 627px) {
  .interaction__bouquet {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.interaction__picture {
  width: 649px;
}

.interaction__photo1 {
  width: 141px;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  margin-left: 20px;
}

.interaction__opcion {
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1135px) {
  .interaction__opcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 858px) {
  .interaction {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interaction__opcion {
    display: block;
  }
}

.gallery {
  background: #003548;
  padding-top: 90px;
}

.gallery-cell {
  width: 30%;
  height: 350px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: transparent;
}

.gallery-size {
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-pictureone {
  background-image: url(../imag/gallery1.png);
}

.gallery-picturetwo {
  background-image: url(../imag/gallery2.jpg);
}

.gallery-picturethree {
  background-image: url(../imag/gallery3.png);
}

.gallery-picturefour {
  background-image: url(../imag/gallery4.png);
}

.gallery-picturefive {
  background-image: url(../imag/gallery5.png);
}

.newsletter {
  background-color: #eaecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #003548;
  margin-top: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter__input {
  width: 35%;
  padding-top: 63px;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter__p {
  padding-bottom: 20px;
}

.newsletter__img {
  background-image: url(../imag/newsletter.jpg);
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 685px;
  height: 28em;
  font-size: 16px;
}

@media (max-width: 1053px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 90px;
  }
  .newsletter__input {
    width: 100%;
    padding-left: 0;
  }
  .newsletter__img {
    background-image: url(../imag/newaletter-1053w.jpg);
    width: 100%;
  }
}

@media (max-width: 700px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-753w.jpg);
  }
}

@media (max-width: 500px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-500w.jpg);
    width: 100%;
  }
}

@media (max-width: 450px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-414w.jpg);
    width: 100%;
  }
}

.footer {
  background-color: #04171E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer__img {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 158px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-top: solid 1px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__element {
  padding-bottom: 20px;
}

.footer__element:hover {
  color: #CFA24F;
}

.footer__redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
  width: 30%;
  color: gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text {
    width: 80%;
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  color: white;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  padding: 90px 50px 60px 530px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../imag/imgLogin.jpg");
  background-repeat: no-repeat;
  margin: 10% auto;
  width: 100%;
  max-width: 954px;
  max-height: 608px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translate(0px, -500px);
          transform: translate(0px, -500px);
  position: relative;
}

.modal__close {
  position: absolute;
  width: 22px;
  top: 15px;
  right: 15px;
}

.modal__close:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 989px) {
  .modal {
    padding: 0;
  }
  .modal__content {
    padding: 90px 5% 60px 5%;
    margin: 23% 0%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.productForm {
  display: block;
  width: 852px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #182a30;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding-left: 49px;
  font-family: Poppins;
}

.productForm__button {
  margin-left: auto;
  margin-right: auto;
}

.productForm__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productForm__auth--img {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.productForm__auth--text {
  text-align: center;
  padding-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.productForm__auth--link:hover {
  cursor: pointer;
  color: #CFA24F;
}

.productForm__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7px;
}

.productForm__label {
  display: block;
  margin-top: 30px;
}

.productForm__label--checkbox {
  margin-top: 8px;
}

.productForm__label--auth {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.productForm__input {
  display: block;
  margin-top: 7px;
  width: 60%;
  height: 47px;
  border: 1px solid #003548;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productForm__input--auth {
  background-color: bisque;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-radius: 16px;
}

.productForm__input--price {
  background-image: url("../imag/CurrencyDollar.png");
  background-repeat: no-repeat;
  background-position: 10px 13px;
  padding-left: 35px;
}

.productForm__input--duration {
  width: 8%;
}

.productForm__input--file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.productForm__input--file-input label {
  display: block;
  border-radius: 4px;
  background-image: url("../imag/add.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 27px 13px;
  margin-right: 10px;
  width: 105px;
  height: 105px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  border: 1px solid #003548;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #003548;
  font-weight: bold;
  cursor: pointer;
}

.productForm__button {
  display: block;
  margin-top: 40px;
}

.productForm__img {
  width: 105px;
  height: 105px;
  margin: 0px 10px 0 0;
  border-radius: 4px;
  border: 1px solid #b6b5b5;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productForm__addAd {
  background-color: #cfa24f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__load {
  background-color: #04171e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__wrong {
  background-color: #ab2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__wrong--text {
  color: #ab2e2e;
  font-size: 12px;
}

.productForm__state {
  width: 58px;
  margin-right: 10px;
  margin-left: 50px;
}

.productForm__checkbox {
  margin-right: 10px;
}

.nav {
  background: rgba(4, 23, 30, 0.92);
  width: 100%;
  height: 104px;
}

.nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__summary {
  background-color: #182a30;
  height: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 45px 50px 30px 45px;
  margin-left: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout__form {
  width: 40%;
  margin-left: 50px;
}

.checkout__boton {
  margin-left: auto;
  margin-right: auto;
}

.checkout__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.checkout__total--final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid white;
  margin-top: 30px;
  padding-top: 30px;
}

.checkout__total--text {
  padding-top: 10px;
}

.checkout__title {
  padding-top: 50px;
}

@media (max-width: 989px) {
  .checkout {
    padding-left: 0;
  }
  .checkout__summary {
    margin-left: 0;
  }
  .checkout__title {
    padding-top: 20px;
  }
  .checkout__form {
    width: 100%;
  }
}

.cartList {
  width: 70%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cartList__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #000000;
}

.cartList__img {
  width: 15%;
  height: 15%;
}

@media (max-width: 989px) {
  .cartList {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
  }
  .cartList__img {
    width: 30%;
    height: 30%;
  }
}

.form__label {
  display: block;
  margin-top: 30px;
}

.form__input {
  display: block;
  margin-top: 7px;
  width: 60%;
  height: 47px;
  border: 1px solid #003548;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-family: 'Poppins';
  width: 179px;
  height: 42px;
  background-color: #CFA24F;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: 28px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__ad {
  margin-left: 60%;
}

.button--padding {
  margin-top: 0;
}

.button__product {
  margin-left: 15%;
}

@media (max-width: 700px) {
  .button__ad {
    margin-left: 45%;
    margin-top: 20px;
  }
}

.button:hover {
  background-color: #cfa24fb5;
  border: solid white 1px;
  color: white;
}

.input {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.input__text {
  width: 100%;
  height: 47px;
  border-radius: 16px;
  margin-bottom: 23px;
  border: none;
  padding-left: 15px;
}

.input__p {
  padding-bottom: 16px;
}

@media (max-width: 1789px) {
  .input__text {
    width: 70%;
  }
}

@media (max-width: 1053px) {
  .input__text {
    width: 30%;
  }
}

.title {
  text-align: center;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}

.title--white {
  color: white;
}

.title--nocenter {
  text-align: start;
}

.title--padding {
  padding-top: 80px;
}

.title--subtitle {
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 40px;
  text-align: center;
}

.title--form {
  margin-bottom: 20px;
}

.title--admi {
  font-size: 24px;
  margin-left: 20px;
}

@media (max-width: 1053px) {
  .title {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */