@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
  margin: 0;
}

.subtitle {
  text-align: center;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 35px;
  margin-top: 104px;
  margin-bottom: 0;
}

.menu {
  background-color: #04171E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 91.5%;
  letter-spacing: 0.02em;
}

.menu__nav {
  background-color: #04171E;
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  position: relative;
}

.banner__ad {
  margin-top: 18%;
  margin-left: 7%;
  color: white;
  position: absolute;
}

.banner__ad__title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0;
}

.banner__ad__subtitle {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
}

.banner__ad__p {
  font-family: Raleway;
  font-size: 18px;
  line-height: 129%;
  margin-bottom: 34px;
  width: 65%;
}

.banner__ad__button {
  background-color: #CFA24F;
  width: 100%;
  height: 42px;
  margin-top: 900px;
  border-radius: 16px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products {
  height: 100%;
}

.products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 68px;
  margin-bottom: 111px;
  height: 100%;
}

.products__info__ramo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
}

.ad__info {
  position: absolute;
  width: 30%;
  margin-top: 6%;
  margin-left: 60%;
  font-family: Raleway;
  color: #003548;
  font-weight: 600;
  font-size: 26px;
}

.ad__button {
  position: absolute;
  margin-top: 12%;
  margin-left: 60%;
  width: 140px;
  height: 22px;
  border-radius: 16px;
  text-align: center;
  padding: 10px;
  background-color: #CFA24F;
  color: white;
}

.footer {
  background-color: #04171E;
}

.footer__list {
  color: white;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #04171E;
  color: white;
  width: 100%;
  height: 193px;
  padding-left: 120px;
  padding-right: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-bottom: 60px;
  width: 100%;
}

.feature__info__text {
  width: 60%;
  margin: 0;
  font-family: Raleway;
  font-size: 18px;
  line-height: 129%;
  margin-left: 20px;
}

.newsletter {
  background-color: #E6E7E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__input {
  margin-top: 62px;
  margin-left: 165px;
}
/*# sourceMappingURL=main.css.map */