@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
  background-color: white;
}

p {
  padding-top: 10px;
}

.menu {
  background-color: #04171E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 10;
  width: 100%;
}

.menu__element:hover {
  color: #CFA24F;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.menu__responsive {
  display: none;
}

.menu--icono {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__desaparecer {
    display: none;
  }
  .menu__logo {
    display: none;
  }
  .menu__logo--size {
    padding-left: 27px;
  }
  .menu__element {
    padding: 20px;
  }
  .menu__icono {
    display: none;
  }
  .menu--icono {
    margin-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__button {
    padding-left: 20px;
  }
}

.banner {
  width: 100%;
  height: 700px;
  color: white;
  background-image: url("../imag/fondo.jpg");
  padding-top: 211px;
  padding-left: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0;
}

.banner__subtitle {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
}

.banner__p {
  font-family: Raleway;
  font-size: 18px;
  line-height: 129%;
  padding-top: 30px;
  width: 24%;
}

@media (max-width: 700px) {
  .banner {
    padding-top: 150px;
    padding-left: 17px;
  }
  .banner__title {
    margin-left: 0;
  }
  .banner__p {
    width: 60%;
  }
}

@media (max-width: 414px) {
  .banner {
    background-image: url("../imag/fondo-414w.jpg");
  }
}

.feature {
  background-color: #04171E;
  color: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature__info {
  width: 27%;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  font-family: Raleway;
  font-size: 18px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 986px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .feature__info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .feature__text {
    width: 34%;
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .feature__text {
    width: 65%;
  }
}

.products {
  height: 100%;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 111px;
  color: #003548;
}

.products__ramo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.products__contents {
  padding-top: 50px;
}

.products__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 15px;
  padding-top: 17px;
}

.products__info {
  display: inline-block;
  position: relative;
  width: 313px;
}

.products__info--img:hover {
  opacity: 0.10;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.products__feature {
  font-family: 'raleway', serif;
  width: 275px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  border-style: solid;
  border-color: #003548;
  border-width: 1px;
}

.products__feature--title {
  text-align: center;
  padding-bottom: 140px;
}

.products__feature--subt {
  padding-bottom: 9px;
  padding-left: 20px;
}

.products__feature--p {
  padding-left: 20px;
  padding-bottom: 10px;
}

.ad {
  background-image: url("../imag/adFlowers.png");
  height: 261px;
  background-size: cover;
  background-repeat: no-repeat;
}

.ad__info {
  width: 30%;
  padding: 60px 0 0 60%;
  font-family: Raleway;
  color: #003548;
  font-weight: 600;
  font-size: 26px;
}

@media (max-width: 1171px) {
  .ad {
    background-image: url("../imag/adFlowers-1171w.jpg");
  }
}

@media (max-width: 800px) {
  .ad__info {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .ad {
    background-image: url("../imag/adFlowers-720.png");
  }
  .ad__info {
    width: 40%;
    padding-left: 45%;
  }
}

@media (max-width: 600px) {
  .ad__info {
    width: 50%;
    font-size: 18px;
    padding-left: 45%;
  }
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__bouquet {
  width: 650px;
  height: 650px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imag/astromelias.jpg");
}

@media (max-width: 627px) {
  .interaction__bouquet {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.interaction__picture {
  width: 649px;
}

.interaction__photo1 {
  width: 141px;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  margin-left: 20px;
}

.interaction__opcion {
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1135px) {
  .interaction__opcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 858px) {
  .interaction {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interaction__opcion {
    display: block;
  }
}

.gallery {
  background: #003548;
  padding-top: 90px;
}

.gallery-cell {
  width: 30%;
  height: 350px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: transparent;
}

.gallery-size {
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-pictureone {
  background-image: url(../imag/gallery1.png);
}

.gallery-picturetwo {
  background-image: url(../imag/gallery2.jpg);
}

.gallery-picturethree {
  background-image: url(../imag/gallery3.png);
}

.gallery-picturefour {
  background-image: url(../imag/gallery4.png);
}

.gallery-picturefive {
  background-image: url(../imag/gallery5.png);
}

.newsletter {
  background-color: #eaecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #003548;
  margin-top: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter__input {
  width: 35%;
  padding-top: 63px;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter__p {
  padding-bottom: 20px;
}

.newsletter__img {
  background-image: url(../imag/newsletter.jpg);
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 685px;
  height: 28em;
  font-size: 16px;
}

@media (max-width: 1053px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 90px;
  }
  .newsletter__input {
    width: 100%;
    padding-left: 0;
  }
  .newsletter__img {
    background-image: url(../imag/newaletter-1053w.jpg);
    width: 100%;
  }
}

@media (max-width: 700px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-753w.jpg);
  }
}

@media (max-width: 500px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-500w.jpg);
    width: 100%;
  }
}

@media (max-width: 450px) {
  .newsletter__img {
    background-image: url(../imag/newsletter-414w.jpg);
    width: 100%;
  }
}

.footer {
  background-color: #04171E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer__img {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 158px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-top: solid 1px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__element {
  padding-bottom: 20px;
}

.footer__element:hover {
  color: #CFA24F;
}

.footer__redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
  width: 30%;
  color: gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text {
    width: 80%;
  }
}

.button {
  font-family: 'Poppins';
  width: 179px;
  height: 42px;
  background-color: #CFA24F;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: 28px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__ad {
  margin-left: 60%;
}

.button--padding {
  margin-top: 0;
}

.button__product {
  margin-left: 15%;
}

@media (max-width: 700px) {
  .button__ad {
    margin-left: 45%;
    margin-top: 20px;
  }
}

.button:hover {
  background-color: #cfa24fb5;
  border: solid white 1px;
  color: white;
}

.input {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.input__text {
  width: 100%;
  height: 47px;
  border-radius: 16px;
  margin-bottom: 23px;
  border: none;
  padding-left: 15px;
}

.input__p {
  padding-bottom: 16px;
}

@media (max-width: 1789px) {
  .input__text {
    width: 70%;
  }
}

@media (max-width: 1053px) {
  .input__text {
    width: 30%;
  }
}

.title {
  text-align: center;
  color: #003548;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}

.title--white {
  color: white;
}

.title--nocenter {
  text-align: start;
}

.title--padding {
  padding-top: 80px;
}

.title--subtitle {
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 40px;
  text-align: center;
}

.title--form {
  margin-bottom: 20px;
}

@media (max-width: 1053px) {
  .title {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */