@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  background-color: #07161b;
  //background-color: rosybrown;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.hidden{
  display: none !important;
}

@import "./menu";
@import "./categories";
@import "./filter";
@import "./listStore";
@import './c-checkbox';
@import './modal';
@import './productForm';
@import './button';
