@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
  background-color: #07161b;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.menu {
  background-color: #04171E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 10;
  width: 100%;
}

.menu__element:hover {
  color: #CFA24F;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.menu__responsive {
  display: none;
}

.menu--icono {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__desaparecer {
    display: none;
  }
  .menu__logo {
    display: none;
  }
  .menu__logo--size {
    padding-left: 27px;
  }
  .menu__element {
    padding: 20px;
  }
  .menu__icono {
    display: none;
  }
  .menu--icono {
    margin-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__button {
    padding-left: 20px;
  }
}

.categories {
  color: white;
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  text-align: center;
  overflow: auto;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__all {
  padding-right: 16px;
}

.categories__all:hover {
  color: #cfa24f;
}

.categories__img {
  width: 131px;
  height: 149px;
  border-radius: 17px 17px 17px 17px;
  cursor: pointer;
}

.categories__img:hover {
  border: 4px solid #cfa24f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.categories__select {
  border: 4px solid #cfa24f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 757px) {
  .categories {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filter {
  width: 100%;
  height: 10;
  color: white;
  font-family: Poppins;
  margin-top: 40px;
}

.filter__button {
  font-family: Poppins;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 20%px;
  color: white;
  cursor: pointer;
  background-color: #07161b;
  border: 1px solid white;
  border-radius: 8px;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter__button:hover {
  background-color: #CFA24F;
  font-weight: bold;
}

.filter__opcions {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.filter__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 199px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 10px;
}

.filter__weather--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.filter__img {
  height: 35px;
  width: 35px;
}

.filter__input {
  display: block;
  background-color: #07161b;
  margin-top: 7px;
  width: 299px;
  height: 39px;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 577px) {
  .filter__opcions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}

.list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.list__icono {
  width: 41px;
  height: 41px;
}

.list__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 328px;
  height: 455px;
}

@media (max-width: 414px) {
  .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list__product {
  margin-right: 12px;
  margin-left: 12px;
}

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.c-checkbox__done {
  -webkit-box-shadow: inset 0 0 0 2px #04171e;
          box-shadow: inset 0 0 0 2px #04171e;
}

.c-checkbox__done--weather {
  background: rgba(196, 196, 196, 0.77);
  border-radius: 25px;
}

.c-checkbox__done--weather::before {
  color: #04171e;
  content: "\2713";
  margin-left: 10px;
}

.c-checkbox__done:before {
  color: #04171e;
  content: "\2713";
  margin-top: 6px;
  margin-left: 10px;
}

.c-checkbox__img {
  height: 35px;
  width: 35px;
  position: absolute;
}

.c-checkbox__fake {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px #c4c4c4;
          box-shadow: inset 0 0 0 1px #c4c4c4;
}

.c-checkbox__fake--purple {
  background-color: #762189;
}

.c-checkbox__fake--yellow {
  background-color: #f5d04f;
}

.c-checkbox__fake--green {
  background-color: #879a6f;
}

.c-checkbox__fake--fuchsia {
  background-color: #f05caa;
}

.c-checkbox__fake--red {
  background-color: #dd443e;
}

.c-checkbox__fake--orange {
  background-color: #eca256;
}

.c-checkbox__fake--white {
  background-color: white;
}

.c-checkbox__fake--nude {
  background-color: #ecd8ce;
}

.c-checkbox--invisible {
  opacity: 0;
  width: 0;
}
/*# sourceMappingURL=products.css.map */