@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: #07161b;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

.menu {
  background-color: #04171e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 10;
  width: 100%;
}

.menu__element:hover {
  color: #cfa24f;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.menu__responsive {
  display: none;
}

.menu__icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu--icono {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__desaparecer {
    display: none;
  }
  .menu__logo {
    display: none;
  }
  .menu__logo--size {
    padding-left: 27px;
  }
  .menu__element {
    padding: 20px;
  }
  .menu__icono {
    display: none;
  }
  .menu__icono--responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu--icono {
    margin-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__button {
    padding-left: 20px;
  }
}

.cartBtn span {
  background-color: white;
  position: absolute;
  color: #003548;
  font-weight: 600;
  font-size: 14px;
  width: 17px;
  height: 17px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  text-align: center;
  border-radius: 8px;
}

.authButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-size: 12px;
}

.authButtons__logout:hover {
  color: #CFA24F;
}

.categories {
  color: white;
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  text-align: center;
  overflow: auto;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__all {
  padding-right: 16px;
}

.categories__all:hover {
  color: #cfa24f;
}

.categories__img {
  width: 131px;
  height: 149px;
  border-radius: 17px 17px 17px 17px;
  cursor: pointer;
}

.categories__img:hover {
  border: 4px solid #cfa24f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.categories__select {
  border: 4px solid #cfa24f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 757px) {
  .categories {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filter {
  width: 100%;
  height: 10;
  color: white;
  font-family: Poppins;
  margin-top: 40px;
}

.filter__button {
  font-family: Poppins;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 15%;
  color: white;
  cursor: pointer;
  background-color: #07161b;
  border: 1px solid white;
  border-radius: 8px;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  margin-right: 10px;
}

.filter__button--a {
  margin-left: 15px;
  width: 5%;
  padding-left: 3px;
}

.filter__button:hover {
  background-color: #CFA24F;
  font-weight: bold;
}

.filter__opcions {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.filter__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 10px;
}

.filter__weather--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.filter__img {
  height: 35px;
  width: 35px;
}

.filter__input {
  display: block;
  background-color: #07161b;
  margin-top: 7px;
  width: 299px;
  height: 39px;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
}

@media (max-width: 577px) {
  .filter__opcions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .filter__opcions__button {
    width: 60%;
  }
}

@media (max-width: 927px) {
  .filter__button {
    width: 50%;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}

.list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.list__icono {
  width: 41px;
  height: 41px;
}

.list__name {
  font-size: 16px;
}

.list__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 328px;
  height: 455px;
}

.list__img--little {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 5px;
}

.list__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  font-family: Poppins;
  font-size: 13px;
}

@media (max-width: 414px) {
  .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list__product {
  margin-right: 12px;
  margin-left: 12px;
  padding: 5px;
}

.list__product:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.c-checkbox__done {
  -webkit-box-shadow: inset 0 0 0 2px #04171e;
          box-shadow: inset 0 0 0 2px #04171e;
}

.c-checkbox__done--weather {
  background: rgba(196, 196, 196, 0.77);
  border-radius: 25px;
}

.c-checkbox__done--weather::before {
  color: #04171e;
  content: "\2713";
  margin-left: 10px;
}

.c-checkbox__done:before {
  color: #04171e;
  content: "\2713";
  margin-top: 6px;
  margin-left: 10px;
}

.c-checkbox__img {
  height: 35px;
  width: 35px;
  position: absolute;
}

.c-checkbox__fake {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px #c4c4c4;
          box-shadow: inset 0 0 0 1px #c4c4c4;
}

.c-checkbox__fake--purple {
  background-color: #762189;
}

.c-checkbox__fake--yellow {
  background-color: #f5d04f;
}

.c-checkbox__fake--green {
  background-color: #879a6f;
}

.c-checkbox__fake--fuchsia {
  background-color: #f05caa;
}

.c-checkbox__fake--red {
  background-color: #dd443e;
}

.c-checkbox__fake--orange {
  background-color: #eca256;
}

.c-checkbox__fake--white {
  background-color: white;
}

.c-checkbox__fake--nude {
  background-color: #ecd8ce;
}

.c-checkbox--invisible {
  opacity: 0;
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  color: white;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  padding: 90px 50px 60px 530px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../imag/imgLogin.jpg");
  background-repeat: no-repeat;
  margin: 10% auto;
  width: 100%;
  max-width: 954px;
  max-height: 608px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translate(0px, -500px);
          transform: translate(0px, -500px);
  position: relative;
}

.modal__close {
  position: absolute;
  width: 22px;
  top: 15px;
  right: 15px;
}

.modal__close:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 989px) {
  .modal {
    padding: 0;
  }
  .modal__content {
    padding: 90px 5% 60px 5%;
    margin: 23% 0%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.productForm {
  display: block;
  width: 852px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #182a30;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding-left: 49px;
  font-family: Poppins;
}

.productForm__button {
  margin-left: auto;
  margin-right: auto;
}

.productForm__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productForm__auth--img {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.productForm__auth--text {
  text-align: center;
  padding-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.productForm__auth--link:hover {
  cursor: pointer;
  color: #CFA24F;
}

.productForm__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7px;
}

.productForm__label {
  display: block;
  margin-top: 30px;
}

.productForm__label--checkbox {
  margin-top: 8px;
}

.productForm__label--auth {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.productForm__input {
  display: block;
  margin-top: 7px;
  width: 60%;
  height: 47px;
  border: 1px solid #003548;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productForm__input--auth {
  background-color: bisque;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-radius: 16px;
}

.productForm__input--price {
  background-image: url("../imag/CurrencyDollar.png");
  background-repeat: no-repeat;
  background-position: 10px 13px;
  padding-left: 35px;
}

.productForm__input--duration {
  width: 8%;
}

.productForm__input--file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.productForm__input--file-input label {
  display: block;
  border-radius: 4px;
  background-image: url("../imag/add.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 27px 13px;
  margin-right: 10px;
  width: 105px;
  height: 105px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  border: 1px solid #003548;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #003548;
  font-weight: bold;
  cursor: pointer;
}

.productForm__button {
  display: block;
  margin-top: 40px;
}

.productForm__img {
  width: 105px;
  height: 105px;
  margin: 0px 10px 0 0;
  border-radius: 4px;
  border: 1px solid #b6b5b5;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productForm__addAd {
  background-color: #cfa24f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__load {
  background-color: #04171e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__wrong {
  background-color: #ab2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.productForm__wrong--text {
  color: #ab2e2e;
  font-size: 12px;
}

.productForm__state {
  width: 58px;
  margin-right: 10px;
  margin-left: 50px;
}

.productForm__checkbox {
  margin-right: 10px;
}

.nav {
  background: rgba(4, 23, 30, 0.92);
  width: 100%;
  height: 104px;
}

.nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}

.button {
  font-family: 'Poppins';
  width: 179px;
  height: 42px;
  background-color: #CFA24F;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: 28px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__ad {
  margin-left: 60%;
}

.button--padding {
  margin-top: 0;
}

.button__product {
  margin-left: 15%;
}

@media (max-width: 700px) {
  .button__ad {
    margin-left: 45%;
    margin-top: 20px;
  }
}

.button:hover {
  background-color: #cfa24fb5;
  border: solid white 1px;
  color: white;
}
/*# sourceMappingURL=products.css.map */